/*
	sample.css
	Jeff Ondich, 5 May 2016

	For use with Javascript sample1. CS257, Spring 2016
*/

.Logo{
	text-align: center;
	}
.SearchBar{
	text-align: center;
}
.advanced{
	text-align: center;
}
.results_table{

	text-align: center;
}
.returnResultsButton{

	text-align: center;
}
.search_form{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: white;

}

html { 
  background: url('https://apps.carleton.edu/reason_package/reason_4.0/www/sized_images_local/set235/1389235/29737c57d79acf9f71d31cef60b5af02.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
