/*
	sample.css
	Jeff Ondich, 5 May 2016

	For use with Javascript sample1. CS257, Spring 2016
*/

.Logo{
	text-align: center;
	}
.SearchBar{
	text-align: center;
}
.advanced{
	text-align: center;
}
.results_table{

	text-align: center;
}
.returnResultsButton{

	text-align: center;
}
.search_form{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

table{
	background-color: #DCDCDC;
}


input#searchBar{
		margin: 0 auto;
		width: 90%;
		height: 45px;
		padding: 0 20px;
		font-size: 1rem;
		border: 1px solid #D0CFCE;
		outline: none;
		&:focus{
		  border: 1px solid #008ABF;
		  transition: 0.35s ease;
		  color: #008ABF;
		  &::-webkit-input-placeholder{
			transition: opacity 0.45s ease; 
			opacity: 0;
		   }
		  &::-moz-placeholder {
			transition: opacity 0.45s ease; 
			opacity: 0;
		   }
		  &:-ms-placeholder {
		   transition: opacity 0.45s ease; 
		   opacity: 0;
		   }    
		 }
}





.button {
	margin-top: 5px;
	padding: 0.75em 2em;
	text-align: center;
	text-decoration: none;
	color: white;
	border: 2px solid white;
	font-size: 1rem;
	display: inline-block;
	border-radius: 0.3em;
	transition: all 0.2s ease-in-out;
}
.button2{
	margin-top: 5px;
	padding: 0.75em 2em;
	text-align: center;
	text-decoration: none;
	color: 	#808080;
	border: 2px solid 	#808080;
	font-size: 1rem;
	display: inline-block;
	border-radius: 0.3em;
	transition: all 0.2s ease-in-out;
}

html { 
  background: url('https://apps.carleton.edu/reason_package/reason_4.0/www/sized_images_local/set235/1389235/29737c57d79acf9f71d31cef60b5af02.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
