/*
	sample.css
	Jeff Ondich, 5 May 2016

	For use with Javascript sample1. CS257, Spring 2016
*/
.Logo{
	text-align: center;
	}
.SearchBar{
	text-align: center;
}

body {
	margin: 10px;
	padding: 10px;

}
