<!DOCTYPE html>
<html>
    <head>
        <title>Schoogle</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/Schoogle_Home.css">
        <script type="text/javascript" src="static/Schoogle_Home.js"></script>
    </head>

    <body>
        <h2 class="Logo">Scoogle!</h2>
        <p class="SearchBar">
        <input type="text" id="searchBar" placeholder="Search for Schools..." title="Type in a School">
        <button id="searchButton">Search!</button></p>
    </body>
</html>
