<html>
	<head>
		<title>Schoogle</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/Schoogle_Home.css">
		<script>var api_port = {{ api_port }};</script>
		<script type="text/javascript" src="static/Schoogle_Home.js"></script>
	</head>

	<body>
		<h2 class="Logo">Scoogle!</h2>
		<p class="SearchBar">
		<input type="text" id="searchBar" placeholder="Search for Schools...">
		<button id="searchButton">Find Schools</button>
		<button id="compareButton">Compare</button></p>
		<p><table id="results_table"></table></p>
	</body>
</html>
