<html>
	<head>
		<title>Schoogle</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/Schoogle_Home.css">
		<script>var api_port = {{ api_port }};</script>
		<script type="text/javascript" src="static/Schoogle_Home.js"></script>
	</head>

	<body>
		<main>
			<input type="image" src="https://cdn.dribbble.com/users/2047304/screenshots/4196166/schoogle.png" class="Logo" id="homeButton" >			
		<section class="search_form">
						
			<p class="SearchBar">
			<input type="text" id="searchBar" placeholder="e.g. carleton college,boston college">

			<a href="#" class="button" id="searchButton">Find Schools</a>
			<a href="#" class="button" id="compareButton">Compare</a>
			</p>

			<p class="blank_row"><br><br></p>

			<p class="advanced">
				<a href="#" class="button2" id="advanced">Advanced Option</a></p>

		</section>
		<section class="result_form">
			<p class="advanced">
				<table id="advanced_search_table" align="center"></table>
			</p>
			<p class="results_table">
			<table id="results_table" align="center"></table>
			<a href="#" class="button2" id="returnResultsButton">Return to Results</a>
			</p>
		</section>
	</main>
	</body>
</html>
